<section class="estadisticas">
  <div class="estadisticas__header">
    <button mat-stroked-button color="primary" (click)="volver()" class="estadisticas__volver">
      ← Volver
    </button>

    <h2 class="estadisticas__titulo">📊 Propiedades por Agente</h2>

    <app-export-button
      [data]="exportData"
      fileName="propiedades_por_agente"
      [showExcel]="true"
      [showPdf]="true">
    </app-export-button>
  </div>

  <div *ngIf="isLoading" class="estadisticas__loader">
    <mat-spinner diameter="40" color="primary"></mat-spinner>
  </div>

  <div class="estadisticas__grafica" *ngIf="!isLoading" @fadeIn>
    <ngx-charts-bar-horizontal
      [results]="propiedadesPorAgente"
      [scheme]="colorScheme"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [view]="[800, chartHeight]"
      xAxisLabel="Cantidad"
      yAxisLabel="Agente">
    </ngx-charts-bar-horizontal>
  </div>
</section>
