<div class="login">
  <form class="login__card" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2 class="login__title">{{ texts.LOGIN_TITLE }}</h2>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ texts.EMAIL_LABEL }}</mat-label>
      <input matInput formControlName="email" type="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ texts.PASSWORD_LABEL }}</mat-label>
      <input matInput formControlName="password" type="password" required />
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" class="login__submit-button w-100">
      {{ texts.LOGIN_BUTTON }}
    </button>
  </form>
</div>
