@use 'variables' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: $font-size-content;
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
  flex-wrap: nowrap;

  mat-icon {
    font-size: 1.2rem;
    line-height: 1;
    vertical-align: middle;
    flex-shrink: 0;
    display: inline-block;
  }

  .mdc-button__label {
    white-space: normal;
    text-align: center;
    line-height: 1.4;
    flex: 1 1 auto;
  }

  &--primary {
    background-color: $btn-primary-bg;
    color: $btn-primary-text;
  }

  &--warn {
    color: $color-warn;
  }

  &--icon {
    padding: 0.25rem;
    width: 36px;
    height: 36px;
    justify-content: center;
  }

  &--outline {
    border: 1px solid $color-border;
    color: $color-text;
    background-color: transparent;

    @media (max-width: 768px) {
      font-size: 0.85rem;
      padding: 1.2rem 1rem;
      width: 100%;
      flex-wrap: nowrap;
      gap: 0.5rem;

      mat-icon {
        font-size: 1.2rem;
        margin: 0;
      }

      .mdc-button__label {
        white-space: normal;
        text-align: center;
        line-height: 1.4;
        flex: 1 1 auto;
      }
    }
  }
}
