.snack-success {
  background-color: #b0c607 !important;
  color: white !important;
  font-weight: 500;
}

.snack-error {
  background-color: #f44336 !important;
  color: white !important;
  font-weight: 500;
}
