@use 'variables' as *;
@use 'dashboard';
@use 'dashboard-table';

.dashboard--admin {
  background-color: $color-admin-bg;
  min-height: 100vh;
}

.dashboard__section--panel {
  background-color: #fafafa;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  padding: 1rem;
}

