<mat-card class="dashboard__table">
  <mat-card-title>{{ title }}</mat-card-title>

  <div class="dashboard__table-wrapper" *ngIf="dataSource?.data?.length; else empty">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

      <!-- Columnas dinámicas -->
      <ng-container *ngFor="let col of columnDefs" [matColumnDef]="col.key">
        <th mat-header-cell *matHeaderCellDef>{{ col.label }}</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="customTemplates[col.key]; else defaultCell">
            <ng-container *ngTemplateOutlet="customTemplates[col.key]; context: { $implicit: row }"></ng-container>
          </ng-container>
          <ng-template #defaultCell>{{ row[col.key] }}</ng-template>
        </td>
      </ng-container>

      <!-- Columna de acciones -->
      <ng-container *ngIf="showActions" matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onEditar(row)" matTooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>

          <button *ngIf="showDelete" mat-icon-button color="warn" (click)="onEliminar(row)" matTooltip="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns.concat(showActions ? ['acciones'] : [])"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns.concat(showActions ? ['acciones'] : [])"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <ng-template #empty>
    <div class="dashboard__table-empty">
      {{ emptyMessage }}
    </div>
  </ng-template>
</mat-card>
