@use 'styles/index';
@use 'styles/variables' as vars;

/* Estilos base para html y body */
html, body {
  height: 100%;
  margin: 0;
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-base;
  background-color: #fafafa;
  color: #212121;
}

/* ✅ Oculta el rango del paginador en móviles */
@media (max-width: 768px) {
  .mat-paginator-range-label {
    display: none !important;
  }
}
