/* Importa variables y mixins globales */
@import 'styles/variables';
@import 'styles/snackbars';


/* Estilos base para html y body */
html, body {
  height: 100%;
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: #fafafa; // opcional: base neutra suave
  color: #212121; // texto principal
}

